body {
    background-color: #3c3737;
    color: snow;
    text-align: center;
    font-size: x-large;
}

.input-max {
    display: inline-block;
    background-color: initial;
    color: snow;
    border: 1 black solid;
}
